body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.box{
    width: 200px;
    height: 150px;
    background-color: coral;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}
.translate:hover{
    transform: translate(30px, 30px);
}
.rotate:hover{
    transform: rotate(45deg);
}
.scale:hover{
    transform: scale(1.5);
}
.skew:hover{
    transform: skew(20deg, 10deg);
}
.combined:hover{
    transform: translate(50px, 50px) rotate(45deg) scale(1.5) skew(20deg, 10deg);
}